NPM (NODE PACKET MANAGER) {npm i [packet-manager]}

Discord.js
google-translate-api-web

Text Editor (REQUIRED, Not part of NPM)

a json ("create a file named.json and then add")
{
"token" = "your token lol",
"prefix" = "ur prefix ofc",
}
